#define APSTUDIO_READONLY_SYMBOLS
#define APSTUDIO_HIDDEN_SYMBOLS
#include "../include/FusionAPI/ccx.h"
#include "Windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

KPX_MAGICNUMBER RCDATA 
BEGIN
	0x2516, 0x5908
END

STRINGTABLE 
BEGIN
	KPX_MARK "MF2"
END
